@font-face{
    font-family: "dark";
    src: url("font/dark.ttf") format("opentype");
}
@font-face{
    font-family: "attack";
    src: url("font/attack.otf") format("opentype");
}
img{
    border-radius: 2px;
}
.title{
    font-family: dark;
    font-size:100px;
}
.second{
    font-family: dark;
    padding-bottom: 20px;
    font-size: 70px;
}
p{
    text-align: center;
}
#wrap{
    background-color: #212121;
    color: aliceblue;
    font-family: attack;
}
#home{
    padding-top: 100px;
    img{
        width: 100%;
    }
    .bocs{
        text-align: center;
    }
    .txt{
            text-align: left;
            padding-top: 100px;
    }
    #box{
        padding: 10px;
        font-size: 40px;
        text-align: center;
        background-color: #EEE;
        color: #4b4b4b;
        font-family: dark;
        cursor: pointer;
    }
}

#lineup{
    text-align: center;
    font-weight: bold;
    p{
        padding-top: 10px;
    }
    #box{
        margin: 50px 0;
        background-color: #EEE;
        color: #4b4b4b;
        cursor: pointer;
        font-family: dark;
        font-size: 50px;
    }
}
#lineup img{
    width: 100%;
}

#event{
    margin: 100px 0;
    img{
        width: 100%;
        margin-bottom: 20px;
    }
}

#location{
    padding-bottom: 100px;
    .img{
        text-align: right;
    }
    img{
        width: 100%;
    }
    .tt{
        text-align: left;
        font-weight: bold;
    }
}

footer{
    padding: 50px;
    text-align: center;
    background-color: black;
    color: gainsboro;
    .lnk{
        color: gainsboro;
        font-weight: bold;
        font-style: italic;
    }
}